@model IEnumerable<DTO.ListadoAtletasDTO>



<h1>ATLETAS</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAtleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAtleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoAtleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexoAtleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAtleta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAtleta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoAtleta)
                </td>
                <td>
                    @(item.SexoAtleta ? "Masculino" : "Femenino")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePais)
                </td>
                <td>
                    @Html.ActionLink("Ver Disciplinas", "Edit", new { id = item.IdAtleta } , new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
