@model Presentacion.Models.AltaEventoViewModel

@{
    ViewData["Title"] = "Crear Evento";
}

<h2>Crear Evento</h2>
<br />
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="DTOAltaEvento.NombreEvento" class="control-label"></label>
        <input asp-for="DTOAltaEvento.NombreEvento" class="form-control" />
        <span asp-validation-for="DTOAltaEvento.NombreEvento" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DTOAltaEvento.IdDisciplina" class="control-label">Disciplina</label>
        <select asp-for="DTOAltaEvento.IdDisciplina" class="form-control" asp-items="@(new SelectList(Model.DTODisciplinas, "IdDisciplina", "NombreDisciplina"))">
            <option value="">Seleccione una Disciplina</option>
        </select>
        <span asp-validation-for="DTOAltaEvento.IdDisciplina" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DTOAltaEvento.FechaInicioEvento" class="control-label"></label>
        <input asp-for="DTOAltaEvento.FechaInicioEvento" type="date" class="form-control"
               min="2024-01-01" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="DTOAltaEvento.FechaInicioEvento" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DTOAltaEvento.FechaFinalEvento" class="control-label"></label>
        <input asp-for="DTOAltaEvento.FechaFinalEvento" type="date" class="form-control"
               min="@Model.DTOAltaEvento.FechaInicioEvento.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="DTOAltaEvento.FechaFinalEvento" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label class="control-label">Atletas Participantes</label>
        @foreach (var atleta in Model.DTOAtleta)
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="atleta_@atleta.IdAtleta"
                       name="DTOAltaEvento.IdsAtletasPuntajes[]" value="@atleta.IdAtleta" />
                <label class="form-check-label" for="atleta_@atleta.IdAtleta">
                    @atleta.NombreAtleta @atleta.ApellidoAtleta
                </label>
            </div>
        }
        <span asp-validation-for="DTOAltaEvento.IdsAtletas" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
