@model DTO.AltaUsuarioDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AltaUsuarioDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContraseniaUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContraseniaUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreRol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAdmin)
        </dd>
    </dl>
</div>
